---
title: Resulting From | Business, Technology, and Design
---
<div class="grid">
	<div class="col-3-12">
		<%= partial "sections/logo" %>
		<%= partial "sections/affix" %>
	</div>
	<div class="col-9-12">
		<section class="main-section">
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/catalyze">Catalyze</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Lead Product Designer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Skills: Front-end Development, Product Design, UX, UI Design, Marketing, Business Development</h2>
					<a href="https://catalyze.io" class="post-btn">Visit Site <i class="fa fa-arrow-right"></i></a>
				</header>
				<div class="post-body">
					<%= image_tag "/assets/img/work_imgs/port_cover_catalyze.png" %>
					<h1>Logo:</h1>
					<p>One of the first tasks I took on when joining Catalyze was to redesign their logo. The previous one lacked craftsmanship and was a bit complicated. I decided to continue using the hive concept but to update it with new typography and a simplified graphic. The result is a logo that can be described as such.</p>
					<ul>
						<li>Technologically focused</li>
						<li>Healthcare integration</li>
						<li>Working together</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_logos.png", :class => "white-img" %>
					<h1>New Homepage:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_homepage.png", :class => "white-img" %>
					<h1>AB Test One:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_homepage_ab_one.png", :class => "white-img" %>
					<h1>AB Test Two:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_homepage_ab_two.png", :class => "white-img" %>
					<h1>Dashboard:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_dashboard_one.png", :class => "white-img" %>
					<h1>Pricing:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/catalyze/catalyze_pricing.gif", :class => "white-img" %>
				</div>
			</article>
		</section>
	</div>
</div>