---
title: Resulting From | Business, Technology, and Design
---
<div class="grid">
	<div class="col-3-12">
		<%= partial "sections/logo" %>
		<%= partial "sections/affix" %>
	</div>
	<div class="col-9-12">
		<section class="main-section">
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/globalthinking">GlobalThinking</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Web Developer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Rails Development, Web Design</h2>
					<a href="https://globalthinking.com" class="post-btn" disabled>Visit Site <i class="fa fa-arrow-right"></i></a>
				</header>
				<div class="post-body">
					<%= image_tag "/assets/img/work_imgs/port_cover_global.png" %>
					<h1>Virginia Hospital Center Physician Group:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/global/global_vhc.png", :class => "white-img" %>
					<h1>Satellite Today Search:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/global/global_search.png", :class => "white-img" %>
					<h1>Morgan Franklin IPO Tool:</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span class="hl">when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<ul>
						<li>Something about this thing.</li>
						<li>We have something else here, oh wow.</li>
						<li>Moving towards something new.</li>
					</ul>
					<%= image_tag "/assets/img/work_imgs/global/global_ipo.png", :class => "white-img" %>
				</div>
			</article>
		</section>
	</div>
</div>