---
title: Resulting From | Business, Technology, and Design
---
<div class="grid">
	<div class="col-3-12">
		<%= partial "sections/aside" %>
	</div>
	<div class="col-9-12">
		<section class="main-section">
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/catalyze">Catalyze</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Lead Product Designer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Product Design, UX, UI Design, Marketing, Business Development</h2>
					<p><%= image_tag "/assets/img/work_imgs/port_cover_catalyze.png" %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
				</header>
			</article>
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/devjobs">Devjobs</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Creator, Designer, Developer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Data Analysis, UI Design, Marketing, Business Development</h2>
					<p><%= image_tag "/assets/img/work_imgs/port_cover_devjobs.png" %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
				</header>
			</article>
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/designreview">Design Review</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Creator, Designer, Developer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Consulting, Marketing, Business Development</h2>
					<p><%= image_tag "/assets/img/work_imgs/port_cover_designreview.png" %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
				</header>
			</article>
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/globalthinking">Global Thinking</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Web Developer</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Rails Development, Web Design</h2>
					<p><%= image_tag "/assets/img/work_imgs/port_cover_global.png" %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
				</header>
			</article>
			<article class="post">
				<header class="post-header">
					<h1 class="post-title"><a href="/work/gradesnap">Gradesnap</a></h1>
					<h2 class="post-date"><i class="fa fa-institution"></i> Role: Co-Founder</h2>
					<h2 class="post-tags"><i class="fa fa-code"></i> Front-end Development, Rails Development, UI Design, UX Design,</h2>
					<p><%= image_tag "/assets/img/work_imgs/port_cover_gradesnap.png" %></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget urna eros. Maecenas posuere aliquam odio quis vulputate. Aliquam congue dui tortor, ut posuere nibh fringilla sit amet. Pellentesque ornare et mi imperdiet commodo. Vivamus rhoncus, justo id rhoncus lobortis, elit odio egestas justo, a dignissim velit elit vitae enim. Nullam placerat ullamcorper libero in mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum nunc magna, viverra non pretium at, vehicula sed mauris. Duis rhoncus dui sed purus eleifend viverra.</p>
				</header>
			</article>
		</section>
	</div>
</div>