<header class="home-main-header">
	<article>
		<h1><%= current_article.title %></h1>
		<h2><%= current_article.data.tags %></h2>
	</article>
</header>
<nav class="home-main-nav">
	<%= link_to "Home", "/"%>
	<%= link_to "Email", "mailto:rrichrs@gmail.com"%>
	<%= link_to "Twitter", "http://twitter.com/ryanSrich"%>
</nav>