<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="<%= current_page.data.sum %>">
        <meta name="summary" content="<%= current_page.data.sum %>">
        <meta name="robots" content="index,follow,noodp">
        <meta name="googlebot" content="index,follow">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="google" content="notranslate">
        <meta name="subject" content="<%= current_page.data.sum %>">
        <meta name="topic" content="Personal Website and Portfolio">
        <meta name="classification" content="portfolio">
        <meta name="url" content="http://ryansrich.com/">
        <meta name="category" content="portfolio, designer, product designer">
        <meta name="coverage" content="Worldwide">
        <meta name="distribution" content="Global">
        <title><%= current_page.data.sum %></title>
        <meta property="og:description" content="<%= current_page.data.sum %>">
        <meta property="og:title" content="<%= current_page.data.title %> // Ryan S. Rich">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://ryanSrich.com">
        <meta property="og:locale" content="en_US">
        <meta property="twitter:card" content="summary">
        <meta property="twitter:site" content="@_ryanSrich">
        <meta property="twitter:title" content="<%= current_page.data.title %>">
        <meta property="twitter:description" content="<%= current_page.data.sum %>">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <!-- GA -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-73669618-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Icons -->
        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">
        <link rel='apple-touch-icon' type='image/png' href='/assets/img/touchicon.png'>
    </head>
    <body class="<%= page_classes %>">
        <div class="bar"></div>
        <%= yield %>
    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
</html>
