<!DOCTYPE html>
<html lang="en">
    <head>
        <%= partial "partials/head/meta" %>
        <%= partial "partials/head/ga" %>
        <%= partial "partials/head/icons" %>
    </head>
    <body class="<%= page_classes %>">
        <div class="bar"></div>
        <%= yield %>
    </body>
</html>
