<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<title><%= current_page.data.title %> | Ryan Rich - rrich.io</title>
<meta name="description" content="<%= current_page.data.description %>">
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">
<meta name="classification" content="website">
<meta name="url" content="https://rrich.io">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="author" content="Ryan Rich">
<meta property="og:description" content="<%= current_page.data.description %>">
<meta property="og:title" content="<%= current_page.data.title %> | Ryan Rich - rrich.io">
<meta property="og:type" content="website">
<meta property="og:url" content="https://rrich.io">
<meta property="og:locale" content="en_US">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@_ryanSrich">
<meta property="twitter:creator" content="@_ryanSrich">
<meta property="twitter:title" content="<%= current_page.data.title %> | Ryan Rich - rrich.io">
<meta property="twitter:description" content="<%= current_page.data.description %>">
<link rel="canonical" href="https://rrich.io">
<%= stylesheet_link_tag 'styles.css' %>
<!-- Icons -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/touchicon.png">
