<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ryan Rich is a Product Designer, Digital Entrepreneur, and Developer with a passion for simplicity in Human Computer Interaction">
		<title>Ryan S Rich - <%= current_page.data.title %></title>
		<link rel=icon type="image/png" href="/assets/img/fav.png">
		<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", "styles" %>
	</head>
	<body class="<%= page_classes %>">
		<%= partial "sections/headers/header_light" %>
		<div class="grid">
			<h1 class="rsr_post-title"><%= current_page.data.title %></h1>
			<div class="rsr_blog-post">
				<%= yield %>
			</div>
		</div>
		<%= partial "sections/footers/footer" %>
	</body>
	<%= javascript_include_tag "http://fast.fonts.net/jsapi/1d852d38-11df-412c-acaf-e93c61fcfe2a.js", "https://code.jquery.com/jquery-1.11.2.min.js" %>
</html>