<div class="affix-menu">
	<nav class="main-nav">
		<%= link_to "Home &amp; Blog", "/" %>
		<%= link_to "Work &amp; Projects", "/work" %>
		<%= link_to "Contact &amp; Social", "/contact" %>
	</nav>
	<footer class="main-footer">
		<p>Copyright resultingfrom.com <%= Time.now.year %>. Site designed, maintained and developed by <%= link_to "Ryan Rich", "http://ryansrich.com" %> using <%= link_to "Middleman", "http://middlemanapp.com" %>.</p>
	</footer>
	<ul class="social-menu">
		<li><%= link_to "<i class='fa fa-instagram'></i>", "http://instagram.com/_ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-github'></i>", "http://github.com/rr1000"%></li>
		<li><%= link_to "<i class='fa fa-twitter'></i>", "http://twitter.com/ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-dribbble'></i>", "http://dribbble.com/ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-stack-overflow'></i>", "http://stackoverflow.com/users/1254737/ryansrich"%></li>
	</ul>
</div>