---
title: Work - Catalyze
layout: layout_work
---
<%= partial "sections/blog/header_catalyze" %>
<section class="work-intro_body">
	<div class="grid">
		<div class="col-4-12">
			<div class="work-skills_col">
				<h1>Skill Set</h1>
				<ul>
					<li>Product Design</li>
					<li>Conversion Marketing</li>
					<li>Web Development</li>
					<li>User Interface Design</li>
					<li>User Experience Design</li>
				</ul>
			</div>
		</div>
		<div class="col-8-12">
			<div class="work-quote_col">
				<p>My current position is Lead Product Designer at Catalyze where I work on everything from marketing materials to developer experience and user interface design.</p>
				<p>My primary focus is to build a quality experience around the environment creation process for our platform as a service customers. This means making it easy for developers to quickly spec out and build a HIPAA compliant software environment on our platform.</p>
				<p>My typical workflow involves hand-drawn wireframes that are translated into Sketch artboards. I then take those artboards and build bootstrap modules around them. Once that is done I assist our engineering team with integrating the design into our angular.js front-end.</p>
			</div>
		</div>
	</div>
</section>
<section class="work-first-img_body">
	<div class="grid">
		<h1>Dashboard Version Two</h1>
		<%= image_tag "/assets/img/portfolio/work/catalyze_three.png" %>
		<h1>Dashboard Version One</h1>
		<%= image_tag "/assets/img/portfolio/work/catalyze_two.png" %>
		<h1>Home page</h1>
		<%= image_tag "/assets/img/portfolio/work/catalyze_one.png" %>
		<h1>Product Pages</h1>
		<%= image_tag "/assets/img/portfolio/work/catalyze_four.png" %>
		<%= image_tag "/assets/img/portfolio/work/catalyze_five.png" %>
	</div>
</section>