<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="TODO THIS">
		<meta property="og:description" content="TODO THIS">
		<meta property="og:title" content="TODO THIS" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="TODO THIS" />
		<meta property="og:image" content="TODO THIS" />
		<meta property="og:locale" content="en_US">
		<title><%= current_page.data.title " — Product Design, Development and Growth" %></title>
		<%= stylesheet_link_tag "styles" %>
		<%= stylesheet_link_tag  "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
		<%= javascript_include_tag  "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" %>
		<%= javascript_include_tag  "main" %>
		<link rel="icon" type="image/png" href="TODO THIS">
		<link rel="author" href="https://twitter.com/ryanSrich">
		<!--[if IE]>
			<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="<%= page_classes %>">