	<header class="main_header">
		<nav>
			<ul>
				<li><%= link_to "Product Designer and Digital Entrepreneur", "/" %></li>
			</ul>
		</nav>
		<p class="main_header_about">
			<%= image_tag "/assets/img/blog_imgs/main_about_img.png" %>
			Hello. My name is Ryan. I am currently the Lead Product Designer at Catalyze, Inc. where I oversees all design and creative endeavors. As a former Co-founder of an Ed-tech Startup, I've focused my career on making people's lives easier through technology. In the past I've worked for a plethora of clients both as a freelance design consultant and a front-end developer. I studied Science - Technology and Society, Design, and Web Development at Rochester Institute of Technology where I graduated with Highest Honors.
		</p>
		<div class="main_header_footer">
			<footer>
				<ul>
					<li><%= link_to "<i class='fa fa-twitter'></i> twitter", "http://twitter.com/ryanSrich" %></li>
					<li><%= link_to "<i class='fa fa-stack-overflow'></i> stackoverflow", "http://stackoverflow.com/users/1254737/ryansrich" %></li>
					<li><%= link_to "<i class='fa fa-dribbble'></i> dribbble", "http://dribbble.com/ryanSrich" %></li>
					<li><%= link_to "<i class='fa fa-github'></i> github", "http://github.com/rr1000" %></li>
				</ul>
				<p>All design and coding done by me. This site was created using <a href="http://middlemanapp.com">Middleman</a>.</p>
			</footer>
		</div>
	</header>