<footer class="main-footer_body">
	<ul>
		<li><%= link_to "work", "/" %></li>
		<li><%= link_to "about", "/about" %></li>
		<li><%= link_to "blog", "/blog" %></li>
	</ul>
	<ul>
		<li><a href="/startup-school-notes" style="color:#f26522;">Startup School Notes</a></li>
	</ul>
	<ul class="main-social-list">
		<li><%= link_to "<i class='fa fa-instagram'></i>", "http://instagram.com/_ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-github'></i>", "http://github.com/rr1000"%></li>
		<li><%= link_to "<i class='fa fa-twitter'></i>", "http://twitter.com/ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-dribbble'></i>", "http://dribbble.com/ryanSrich"%></li>
		<li><%= link_to "<i class='fa fa-stack-overflow'></i>", "http://stackoverflow.com/users/1254737/ryansrich"%></li>
	</ul>
	<p>Copyright 2014 Ryan Rich - ryansrich.com</p>
</footer>