<section class="main-work_header">
	<div class="grid">
		<h1 class="main-feature-h1_body">Featured work</h1>
		<p class="main-feature-p_body">Below you'll find both personal projects and collaborations with early-stage companies.</p>
	</div>
</section>
<section class="main-feature_body">
	<div class="grid">
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/catalyze"><%= image_tag "/assets/img/portfolio/img_1.png" %></a>
				<div class="mask">
					<h2>Catalyze Inc.</h2>
					<a href="/work/catalyze" class="info">View »</a>
				</div>
			</div>
		</div>
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/designreview"><%= image_tag "/assets/img/portfolio/img_2.png" %></a>
				<div class="mask">
					<h2>The Design Review</h2>
					<a href="/work/designreview" class="info">View »</a>
				</div>
			</div>
		</div>
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/devjobs"><%= image_tag "/assets/img/portfolio/img_3.png" %></a>
				<div class="mask">
					<h2>Devjobs</h2>
					<a href="/work/devjobs" class="info">View »</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="main-feature_body">
	<div class="grid">
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/hipaa"><%= image_tag "/assets/img/portfolio/img_4.png" %></a>
				<div class="mask">
					<h2>HIPAA Assessment Tool</h2>
					<a href="/work/hipaa" class="info">View »</a>
				</div>
			</div>
		</div>
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/gradesnap"><%= image_tag "/assets/img/portfolio/img_5.png" %></a>
				<div class="mask">
					<h2>Gradesnap</h2>
					<a href="/work/gradesnap" class="info">View »</a>
				</div>
			</div>
		</div>
		<div class="col-1-3">
			<div class="main-view_feature main-view-first_feature">
				<a href="/work/vhc"><%= image_tag "/assets/img/portfolio/img_6.png" %></a>
				<div class="mask">
					<h2>VHC Physician Group</h2>
					<a href="/work/vhc" class="info">View »</a>
				</div>
			</div>
		</div>
	</div>
</section>