<%= partial "partials/header" %>
<div class="grid">
	<div class="cf">
		<div class="col-4-12">
			<%= partial "partials/nav" %>
		</div>
		<div class="col-8-12">
			<section class="main_section">
				<article class="port_article">
					<h1 class="page_title <%= current_page.data.brand %>"><%= current_page.data.title %></h1>
					<%= yield %>
				</article>
			</section>
		</div>
	</div>
</div>
<%= partial "partials/footer" %>