<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="<%= current_page.data.sum %>">
<meta name="summary" content="<%= current_page.data.sum %>">
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="subject" content="<%= current_page.data.sum %>">
<meta name="topic" content="Personal Website and Portfolio">
<meta name="classification" content="portfolio">
<meta name="url" content="http://ryansrich.com/">
<meta name="category" content="portfolio, designer, product designer">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<title><%= current_page.data.sum %></title>
<meta property="og:description" content="<%= current_page.data.sum %>">
<meta property="og:title" content="<%= current_page.data.title %> // Ryan S. Rich">
<meta property="og:type" content="website">
<meta property="og:url" content="http://ryanSrich.com">
<meta property="og:locale" content="en_US">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@_ryanSrich">
<meta property="twitter:title" content="<%= current_page.data.title %>">
<meta property="twitter:description" content="<%= current_page.data.sum %>">
<link rel="stylesheet" href="/assets/css/styles.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
    // Lol jquery for this? Really dude?
    $('document').ready(function(){
        var m1 = $('.inner-nav');
        var m2 = $('.info');
        var button =  $('.button-menu');

        button.click(function(){
            m1.fadeToggle(250);
            m2.fadeToggle(250);
        });
    });
</script>
